0682/sesión 26 - reportes (2)/Front-End/SoftInv/SoftInvBusiness/Connected Services/clienteSOAP/Almacenes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softinv.pucp.edu.pe/" targetNamespace="http://services.softinv.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="JsonProcessingException" type="tns:JsonProcessingException" />
  <xs:element name="eliminar" type="tns:eliminar" />
  <xs:element name="eliminarResponse" type="tns:eliminarResponse" />
  <xs:element name="inserta_almacen" type="tns:inserta_almacen" />
  <xs:element name="inserta_almacenResponse" type="tns:inserta_almacenResponse" />
  <xs:element name="listarTodos" type="tns:listarTodos" />
  <xs:element name="listarTodosResponse" type="tns:listarTodosResponse" />
  <xs:element name="modificar" type="tns:modificar" />
  <xs:element name="modificarResponse" type="tns:modificarResponse" />
  <xs:element name="obtenerPorId" type="tns:obtenerPorId" />
  <xs:element name="obtenerPorIdResponse" type="tns:obtenerPorIdResponse" />
  <xs:element name="reporteProducto" type="tns:reporteProducto" />
  <xs:element name="reporteProductoResponse" type="tns:reporteProductoResponse" />
  <xs:element name="reporteTipoProducto" type="tns:reporteTipoProducto" />
  <xs:element name="reporteTipoProductoResponse" type="tns:reporteTipoProductoResponse" />
  <xs:complexType name="modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="almacenId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="almacen_central" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JsonProcessingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="location" type="tns:jsonLocation" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="originalMessage" type="xs:string" />
      <xs:element minOccurs="0" name="processor" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jsonLocation">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteTipoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoProductoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteTipoProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:almacenesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="almacenesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="almacenId" type="xs:int" />
      <xs:element minOccurs="0" name="almacen_central" type="xs:boolean" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="almacenId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteProducto">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="reporteProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:almacenesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inserta_almacen">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="almacen_central" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inserta_almacenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>