0684/sesión25 - Reportes/Front-End/SoftVen/SoftVenBusiness/Connected Services/productoWS/productos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softven.pucp.edu.pe/" targetNamespace="http://services.softven.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="JsonProcessingException" type="tns:JsonProcessingException" />
  <xs:element name="eliminar" type="tns:eliminar" />
  <xs:element name="eliminarResponse" type="tns:eliminarResponse" />
  <xs:element name="insertar" type="tns:insertar" />
  <xs:element name="insertarResponse" type="tns:insertarResponse" />
  <xs:element name="listarTodos" type="tns:listarTodos" />
  <xs:element name="listarTodosResponse" type="tns:listarTodosResponse" />
  <xs:element name="modificar" type="tns:modificar" />
  <xs:element name="modificarResponse" type="tns:modificarResponse" />
  <xs:element name="obtenerPorId" type="tns:obtenerPorId" />
  <xs:element name="obtenerPorIdResponse" type="tns:obtenerPorIdResponse" />
  <xs:element name="reporteTiendas" type="tns:reporteTiendas" />
  <xs:element name="reporteTiendasResponse" type="tns:reporteTiendasResponse" />
  <xs:element name="reporteVendedores" type="tns:reporteVendedores" />
  <xs:element name="reporteVendedoresResponse" type="tns:reporteVendedoresResponse" />
  <xs:complexType name="reporteTiendas">
    <xs:sequence>
      <xs:element minOccurs="0" name="pTiendaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteTiendasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="productoId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JsonProcessingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="location" type="tns:jsonLocation" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="originalMessage" type="xs:string" />
      <xs:element minOccurs="0" name="processor" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jsonLocation">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteVendedores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="reporteVendedoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="productoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="productoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="productoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productosDTO" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>